USE [master]
GO
/****** Object:  Database [PayrollApp_DB]    Script Date: 6/20/2023 7:33:11 PM ******/
CREATE DATABASE [PayrollApp_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayrollApp_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PayrollApp_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayrollApp_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PayrollApp_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayrollApp_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayrollApp_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/20/2023 7:33:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 6/20/2023 7:33:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyType] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/20/2023 7:33:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 6/20/2023 7:33:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[SalaryType] [nvarchar](max) NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[GrossSalary] [decimal](18, 2) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Salary_SalaryId] [int] NULL,
 CONSTRAINT [PK_dbo.Salaries] PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taxes]    Script Date: 6/20/2023 7:33:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxes](
	[TaxId] [int] IDENTITY(1,1) NOT NULL,
	[TaxName] [nvarchar](max) NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SalaryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Taxes] PRIMARY KEY CLUSTERED 
(
	[TaxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyType], [CompanyAddress], [PhoneNo], [Email], [Website]) VALUES (1, N'BD SOFTS ', N'Software Company', N' West Kafrul, Sher-e-Bangla Nagar, Dhaka-1207.', N'01910396846', N'mamunurmaheen@gmail.com', N'www.bdsofts.xyz')
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyType], [CompanyAddress], [PhoneNo], [Email], [Website]) VALUES (2, N'Data Soft', N'Software Company', N'BGB MARKET UTTARA, DHAKA', N'01975515509', N'mamunurmaheen@gmail.com', N'www.datasoft.com')
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyType], [CompanyAddress], [PhoneNo], [Email], [Website]) VALUES (3, N'Mass Data Ltd', N'Software Company', N'Sher-e-Bangla Nagar, Dhaka-1207.', N'01910396846', N'mamunurmaheen@gmail.com', N'www.massdataltd.com')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [Name], [Gender], [ContactNo], [Email], [Position], [Shift], [Address], [CompanyId]) VALUES (1, N'MD.Mamunur Roshid', N'Male', N'01838838881', N'mamunurmaheen@gmail.com', N'Web Developer', N'Evening', N'West Kafrul, Sher-e-Bangla Nagar, Dhaka-1207.', 1)
INSERT [dbo].[Employees] ([EmployeeId], [Name], [Gender], [ContactNo], [Email], [Position], [Shift], [Address], [CompanyId]) VALUES (2, N'FAIZ AHMMED', N'Male', N'01838838881', N'maheen@gmail.com', N'Software Engineer', N'Morning', N'BGB MARKET UTTARA, DHAKA', 3)
INSERT [dbo].[Employees] ([EmployeeId], [Name], [Gender], [ContactNo], [Email], [Position], [Shift], [Address], [CompanyId]) VALUES (3, N'Masuma ', N'Female', N'01838838881', N'roshid@gmail.com', N'Manager', N'Day', N' West Kafrul, Sher-e-Bangla Nagar, Dhaka-1207.', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([SalaryId], [SalaryType], [BasicSalary], [GrossSalary], [EmployeeId], [Salary_SalaryId]) VALUES (1, N'January', CAST(30000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), 3, NULL)
INSERT [dbo].[Salaries] ([SalaryId], [SalaryType], [BasicSalary], [GrossSalary], [EmployeeId], [Salary_SalaryId]) VALUES (2, N'February', CAST(50000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[Salaries] ([SalaryId], [SalaryType], [BasicSalary], [GrossSalary], [EmployeeId], [Salary_SalaryId]) VALUES (4, N'March', CAST(550000.00 AS Decimal(18, 2)), CAST(110000.00 AS Decimal(18, 2)), 2, NULL)
SET IDENTITY_INSERT [dbo].[Salaries] OFF
GO
SET IDENTITY_INSERT [dbo].[Taxes] ON 

INSERT [dbo].[Taxes] ([TaxId], [TaxName], [TaxAmount], [EmployeeId], [SalaryId]) VALUES (13, N'Incometax', CAST(789.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[Taxes] ([TaxId], [TaxName], [TaxAmount], [EmployeeId], [SalaryId]) VALUES (17, N'Income Tax', CAST(1500.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[Taxes] ([TaxId], [TaxName], [TaxAmount], [EmployeeId], [SalaryId]) VALUES (22, N'Proffesional Tax', CAST(1000.00 AS Decimal(18, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[Taxes] OFF
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 6/20/2023 7:33:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[Employees]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 6/20/2023 7:33:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Salaries]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salary_SalaryId]    Script Date: 6/20/2023 7:33:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Salary_SalaryId] ON [dbo].[Salaries]
(
	[Salary_SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalaryId]    Script Date: 6/20/2023 7:33:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalaryId] ON [dbo].[Taxes]
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Companies_CompanyId]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Salaries_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_dbo.Salaries_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Salaries_dbo.Salaries_Salary_SalaryId] FOREIGN KEY([Salary_SalaryId])
REFERENCES [dbo].[Salaries] ([SalaryId])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_dbo.Salaries_dbo.Salaries_Salary_SalaryId]
GO
ALTER TABLE [dbo].[Taxes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Taxes_dbo.Salaries_SalaryId] FOREIGN KEY([SalaryId])
REFERENCES [dbo].[Salaries] ([SalaryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Taxes] CHECK CONSTRAINT [FK_dbo.Taxes_dbo.Salaries_SalaryId]
GO
USE [master]
GO
